/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
Credit: https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9
*/
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// set font family to Poiret One
.is-poiret {
  font-family: 'Poiret One', cursive;
}

// custom border
.has-border {
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);
}