.footer {
  background-color: #353535;
  color: black;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.footer .is-pulled-left {
  font-size: 1.15rem;
  line-height: 1.15rem;
}

.footer .is-pulled-left span {
  font-size: 1rem;
  line-height: 1rem;
}

.footer .is-pulled-left a {
  color: black;
}

.footer .is-pulled-left a:hover {
  color: grey;
}

.footer .is-pulled-right a:nth-child(1) {
  color: hsl(141, 71%, 48%);
}

.footer .is-pulled-right a:nth-child(2) {
  color: #365899;
}

.footer .is-pulled-right a:nth-child(3) {
  color: #00AFF0;
}