.footer {
  background-color: #353535;
  color: #828282;
  padding: 3rem 1.5rem 2rem;
}

.footer a:hover {
  color: #bec6d2;
}

.fck {
  display: inline-block;
}

.post-footer {
  border-top: 1px dotted #524a4a;
  background-color: #353535;
  color: #828282;
  padding: 0.5rem 0;
}