.my-hero {
  display: flex;
  height: calc(100vh - 5.25rem);
  width: 100%;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 80%;
    padding: 30px 40px;
    background-color: rgba(0,0,0,.35);
  }
}



